
header {
    margin-top: -2.5em;
    height: 35px;
    width: 100%;
    position: fixed; 
    transition: 0.5s;
    background-color: #fff019;
}

.containerheader {
    height: 200px;
    width: 100%;
    background-image: url(/images/banner-content-marketing.jpg);
    background-size: cover;
}

/*

    <nav id="nav">
        <div class="container">

            <div class="flex">
                
                <a href="index.html"><i class='bx bx-dumbbell'></i></a>
                <h1>Zenyth</h1>
                <ul>
                    <li><a href="#">Shopee</a></li>
                    <li><a href="#">Amazon</a></li>
                    <li><a href="#">Cursos</a></li>
                    <li><a href="#">eBooks</a></li>
                </ul>

                <div class="btn-contato">
                    <a href="#"><button>NOSSO CONTATO</button></a>
                </div>
            </div>
        </div>
    </nav>

*/